.form-layout {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.form-layout h3 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}


.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.input-box input[type="file"]:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.input-box .avatar {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 3px #FFC107;
}

.input-box img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 0 10px;
}



.input-box textarea {
  position: relative;
  color: #707070;
  width: 100%;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 0 15px;
  padding-top: 10px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-box textarea:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-img .img-wrapper {
  position: relative;
}

.list-img img {
  width: 80px;
  height: 70px;
  object-fit: cover;
  margin: 10px;
}

.list-img .delete-img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 0px;
  color: #333;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}


.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button,
.form a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.form .btn-save {
  background: rgb(97, 66, 250);
}

.form .btn-add {
  background: rgb(2, 141, 55);
}

.form .btn-cancel {
  background: rgb(219, 17, 17);
}

.form .btn-save:hover {
  background: rgba(97, 66, 250, 0.633);
}

.form .btn-add:hover {
  background: rgba(2, 141, 55, 0.721);
}

.form .btn-cancel:hover {
  background: rgba(219, 17, 17, 0.688);
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

/* -----------------------------------pagination---------------------------------- */
.page-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  text-align: right;
}

.page-pagination ul {
  padding: 0;
}

.page-pagination li {
  display: inline-block;
}

.page-pagination li a {
  width: 30px;
  line-height: 30px;
  height: 30px;
  display: block;
  border: 1px solid #dfdede;
  background: white;
  color: #24262b;
  border-radius: 3px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.page-pagination li a.active,
.page-pagination li a:hover {
  background: #ffc107d2;
  color: #24262b;
}


.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  width: 80%;
  max-width: 700px;
}

.modal-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #FFC107;
  font-size: 35px;
  font-weight: bold;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #FFC107;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}